.button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

/* KHI DI CHUỘT VÀO (Hover) */
.button:hover {
    -fx-background-color: #00206d;
    -fx-cursor: hand;
}

/* (Mình tặng thêm) KHI ĐANG BẤM CHUỘT XUỐNG (Pressed) */
.button:pressed {
    -fx-background-color: #00103a; /* Nền tối đi một chút nữa để tạo cảm giác nút lún xuống */
}