
.borrow-table {
    -fx-background-color: white;
    -fx-border-color: #bfe5ff;
    -fx-border-width: 1;
    -fx-table-cell-border-color: #c7e8fb;
    -fx-fixed-cell-size: 40;
}

.combo-box{
    -fx-border-radius: 5px;
    -fx-border-color: #bfe5ff;
    -fx-background-color: transparent;

}

.combo-box-base{
    -fx-border-radius: 5px;
}

.borrow-table .column-header-background {
    -fx-background-color: #d7f2ff;
    -fx-background-radius: 8 8 0 0;
    -fx-background-insets: 0 0 1 0;
}

.borrow-table .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent #c7e8fb transparent transparent;
    -fx-border-width: 1px;
}

.borrow-table .column-header .label {
    -fx-text-fill: #233771;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: CENTER;
}

.borrow-table .filler {
    -fx-background-color: #d7f2ff;
}

.borrow-table:focused {
    -fx-background-color: transparent;
}

/*CSS CHO CÁC BUTTON THÊM SỬA XOÁ */
.btn-add{
    -fx-background-color: linear-gradient(to right bottom, #329d9c, #56c596);
    -fx-text-fill: white; -fx-background-radius: 8; -fx-cursor: hand;
}
.btn-add:hover{
    -fx-background-color: linear-gradient(to left top, #329d9c, #56c596);
    -fx-effect: dropshadow(three-pass-box, rgba(50, 157, 156, 0.5), 10, 0, 0, 3);
}
.btn-edit{
    -fx-background-color: linear-gradient(to right bottom, #ff9190, #fdc094);
    -fx-text-fill: white; -fx-background-radius: 8; -fx-cursor: hand;
}

.btn-edit:hover{
    -fx-background-color: linear-gradient(to left top, #ff9190, #fdc094);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 145, 144, 0.2), 10, 0, 0, 3);
}
.btn-delete{
    -fx-background-color: linear-gradient(to right bottom, #f9ad6a, #d46c4e);
    -fx-text-fill: white; -fx-background-radius: 8; -fx-cursor: hand;
}

.btn-delete:hover{
    -fx-background-color: linear-gradient(to left top, #f9ad6a, #d46c4e);
    -fx-effect: dropshadow(three-pass-box, rgba(249, 173, 146, 0.3), 10, 0, 0, 3);
}