
.borrow-table {
    -fx-background-color: white;
    -fx-border-color: #bfe5ff;
    -fx-border-width: 1;
    -fx-table-cell-border-color: #c7e8fb;
    -fx-fixed-cell-size: 40;
}

.borrow-table .column-header-background {
    -fx-background-color: #d7f2ff;
    -fx-background-radius: 8 8 0 0;
    -fx-background-insets: 0 0 1 0;
}

.borrow-table .column-header {
    -fx-background-color: transparent;
    -fx-border-color: transparent #c7e8fb transparent transparent;
    -fx-border-width: 1px;
}

.borrow-table .column-header .label {
    -fx-text-fill: #233771;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-alignment: CENTER;
}

.borrow-table .filler {
    -fx-background-color: #d7f2ff;
}

.borrow-table:focused {
    -fx-background-color: transparent;
}