/* Sidebar */
.sidebar {
    -fx-background-color: #111827;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 30;
}
.title {
    -fx-background-color: #172747;
    -fx-icon-color: white;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 15 10 15;
}

/* Các nút menu trong Sidebar */
.menu-btn  {
    -fx-background-color: #0f172a;
    -fx-icon-color: white;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 15 10 15; /* Khoảng cách icon và chữ */
    -fx-graphic-text-gap: 15; /* Đẩy chữ ra xa icon một chút */
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-content-display: left;
    -fx-alignment: CENTER_LEFT;
    -fx-max-width: infinity; /* Để nút bung rộng theo chiều ngang của sidebar */
}

/* Hiệu ứng khi di chuột vào nút menu */
.menu-btn:hover{
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-text-fill: #f8843d;
    -fx-icon-color: #f8843d;
    -fx-background-radius: 10;
}
.menu-btn .ikonli-font-icon {
    -fx-icon-color: white;
}
.menu-btn:hover .ikonli-font-icon {
    -fx-icon-color: #f8843d;
}

/* Khối nội dung chính */
.main-content-card {
    -fx-background-color: #1e293b; /* Màu nền xám/trắng nhạt */
    -fx-background-radius: 20; /* Bo góc to */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 5);
}
/* Nút menu con */
.sub-menu-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #f4f6f9;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-padding: 10 15 10 15;
    -fx-cursor: hand;
    -fx-max-width: infinity;
}
.sub-menu-btn:hover {
    -fx-text-fill: #f8843d;
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 10;
}